site_name: "molax"
site_description: "molax: A JAX library for molecular active learning"
site_url: "https://hfooladi.github.io/molax/"
repo_url: "https://github.com/HFooladi/molax"
repo_name: "HFooladi/molax"
copyright: Copyright 2024 - 2025 Hosein Fooladi

remote_branch: "gh-pages"
use_directory_urls: false
docs_dir: "docs"

# Fail on warnings to detect issues with types and docstring
strict: true

nav:
  - Getting Started: index.md
  - Core Concepts: concepts.md
  - API Reference:
      - Models: api/models.md
      - Acquisition: api/acquisition.md
      - Data: api/data.md
      - Metrics: api/metrics.md
  - Roadmap: roadmap.md

theme:
  name: material
  # NOTE(hadim): to customize the material primary and secondary color,
  # see check `docs/assets/css/custom.css`.
  palette:
    primary: deep purple
    accent: indigo

  features:
    - navigation.tabs
    - navigation.sections
    - navigation.path
    - navigation.top
    - navigation.footer
    - toc.follow
    - content.code.copy
    - content.code.annotate

extra_css:
  - assets/css/custom-splito.css

extra_javascript:
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

markdown_extensions:
  - admonition
  - attr_list
  - md_in_html
  - tables
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.superfences
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true

watch:
  - molax/

plugins:
  - search

  - mkdocstrings:
      handlers:
        python:
          paths: [.]
          options:
            show_root_heading: true
            heading_level: 3
            show_source: false
            group_by_category: true
            members_order: source
            separate_signature: true
            show_signature_annotations: true
            line_length: 80

  - mkdocs-jupyter:
      execute: False

  - mike:
      version_selector: true

extra:
  version:
    # Multi versioning provider for mkdocs-material (used for the JS selector)
    provider: mike